
.create-option{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.create-option a{
  text-decoration: none;
  color: var(--text-dark);
  border: .1rem solid var(--purple-dark);
  padding: .5rem 2rem;
  margin: .5rem 0;
  border-radius: 1rem;
}

.create-option p{
  margin-right: 2rem;
}

.specificButton{
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: var(--purple-dark)
}

.container-daily-plan{
  background-image: url("../../../public/blackboard.jpeg"); 
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
  color: var(--light);
  margin: auto;
  max-width: 95vw;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: 2rem;
}


.container-planning h2 {
  margin-top: 2rem;
}

.single-day{
  margin: 0 3rem 0 3rem;
  justify-content: space-between;  
  min-width: 20rem;
  min-height: 15rem;
}

.link-planning{
  max-width: 20rem;
  color: var(--text-light);
}

.planning-list{
  border: 1px solid var(--purple-dark);
  margin: 2rem 3rem 2rem 2.5rem;
  height: 15vh;
  overflow: scroll;
  border-radius: 1rem;
  position: relative;
}

.plan-name{
  color: black;
}

