.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 3rem 2rem;
}

.recipe{
    max-width: 20rem;
    min-height: 20rem;
    margin-bottom: 1.5rem;
  }
  
  .link-no-format {
    text-decoration: none;
    color: var(--purple-dark)
  }
  .recipe img {
    max-width: 20rem;
    min-width: 20rem;
  }

  .search{
    margin-top: 3rem;
    color: var(--grey);
  }

  .search select {
    border-radius: .3rem;
    border: .2rem solid var(--purple-dark);
    padding: .5rem 0;
    text-align: center;
    color: var(--grey);
    width: 80vw;
    background-color: var(--light-transparent);
  }
