.recipes {
  display: grid;
  justify-content: space-between;
  justify-content: center;
  margin: 3rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.recipe{
    width: 20rem;
    height: 20rem;
    margin-bottom: 1.5rem;
    background-size: cover;
    border-radius: 1rem;
    margin: 2rem auto;
  }

  .recipe-details{
    background-color: rgba(255, 255, 255, 0.487);
    color: var(--text-dark);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
    height: 5rem;
    text-align: left;

  }
  
  .link-no-format {
    text-decoration: none;
    color: var(--text-light);
    margin: auto;
  }



  .search{
    margin-top: 3rem;
    color: var(--grey);
  }

  .search select {
    border-radius: .3rem;
    padding: .5rem 0;
    text-align: center;
    color: var(--grey);
    width: 80vw;
    background-color: var(--light-transparent);
  }