.background{
    border:0.1rem solid;
    border-radius: 1rem;
    margin: 1rem auto;
    width: 80vw;
    height: auto;
    padding-bottom: 2rem;
    position:relative;
}

.background::before{
    content: "";
    background-image: url("../../../public/form.jpeg");
    background-size: cover;
    background-repeat: none;  
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.5;
}

.fields-user{
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 70vw;
}

.fields-user p {
    color: var(--required-field)
}

.fields-user h2{
    margin: 1rem 0;
}

.fields-user span{
    margin-top:3rem;
}

.fields-user form, .ingredients {
    text-align: left;
    width: 70vw;
    margin: auto;
    /* border: solid; */
}

.fields-user form div, .ingredients, .showing-ingredients{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

input[type="file"] {
    display:none;
}

.image {
    border: 0.1rem solid var(--grey);
    border-radius: 0.2rem;
    background-color: var(--text-light);
    display: inline-block;
    font-family: arial;
    font-size: 0.9rem;
    padding: 0.1rem 0.9rem;
    cursor: pointer;
    display:flex;
    align-items: center;
    width: 7.6rem;
}

.image img{
    width:1rem;
    margin-right: 1rem;
}

.upload-label{
    margin-right: 1rem;
}

.protein-structure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;  
}

.protein-structure div{
    display:flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.protein-structure button{
    padding:0.4rem;
    border-radius: 0.2rem;
    margin-right: 1rem;
}

.ingredients button, .showing-ingredients button {
    padding: 0.05rem 0.5rem;
    border-radius: 0.1rem;
}
.ingredients input{
    display:flex;
    flex-direction: column;
    justify-content: right;
    margin-bottom: 0.3rem;
}

.quantity-and-button{
    display:flex;
    justify-content: space-between;
}

.quantity-and-button input{
    width: 6.8rem;
    height: 0.9rem;
}

.showing-ingredients{
    margin: 0.3rem 0;
    justify-content: space-between;
    width: 9.5rem;
}

.scroll-ingredients{
    max-height: 10rem;
    overflow: auto;
}


.showing-ingredients p{
    margin: 0;
    color: var(--text-dark)
}

.description-field{
    display:flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 70vw;
    margin:1rem auto;
    text-align: left;
}

@media (min-width: 1025px) {
    .background{
        display: flex;
        width: 90vw;
        margin-top:4rem;
    }

    .fields-user{
        margin: 0 3rem;
        width: 30vw;
    }
    .fields-user form, .ingredients {
        width: 30vw;
    }
    .description-field{
        width: 50vw;
    }
    .description-field textarea{
        height: 42vh;
    }

    .part-right-wider{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .part-right-wider button {
        margin: 4rem 1rem 0 0;
    }

  
    
}