.planning {
  margin: auto;
  height: 10%;
}

.container-planning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
  .single-day {
    background-color: rgba(255, 255, 255, 0.504);
    margin: 1rem;
    border-radius: 1rem;
    padding: 0 1rem 1rem 1rem;
  }

  .single-day div {
    margin-bottom: 0.5rem;
  }

  .single-day input {
    border: none;
    border-radius: 1rem;
    margin-left: .5rem;
  }

  .single-day input {
    text-align: center;
  }

