
.description-bottom{
  margin: 8rem 2rem 0 2rem;
}

.detailed-description{
  display: flex;
  flex-wrap: wrap;
  margin: 0 3rem;
  justify-content: center;
  align-content: center;
}

.detailed-section img{
  width: 15rem;
  margin: 0 5rem;
  border-radius: 2rem;

}
.detailed-section p{
  width: 20rem;
  margin-left: 10%;
  text-align: center;
  height: 5rem;
  font-size: 1.5rem
}