.field-login{
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.field-login label {
  margin-right: 4rem;

}

.field-login input{
  border: .1rem solid var(--purple-dark);
  border-radius: .2rem;
  padding: .5rem 4rem;

}