.form {
    background-image: url("../../public/form.jpeg");
    background-position: bottom;
    background-size:cover;
    margin: 0 20% 5rem 20%;
    padding-top: .3rem;
    min-height: 110vh;
    box-shadow: 10px 10px 5px #aaaaaa; 
}

.required-fields {
    margin-bottom: 3rem;
}

.field {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10rem;
    text-align: left;
}

.field input {
    padding: .3rem 20%;
    text-align: center;

}

.back{
    margin-right: 1rem;
    margin-bottom: 4rem;
}

.img-input {
    margin: 0 .3rem 0 0;
}

.protein-field {
    display:flex;
    margin-left: 6rem;
}
.field button {
    width: 10rem;
    text-align: center;
    margin-bottom: 1rem;
}

.ingredient{
    margin-left: 14%;
}

.add {
    border-radius: .3rem;
    padding: 0 1rem;
    margin-left: 4rem;
}

.deleteTwo{
    border-radius: .3rem;
    padding: 0 1rem;

}

.show-ingredient{
    display:flex;
    justify-content: baseline;
    align-items: baseline;
    margin-left: 40%;
}
.show-ingredient p{
    margin-right: 20%;
    min-width: 30%;
    text-align: left;
}


.show-ingredient button{
    background-color: var(--delete);
    border: none;
    padding: .3rem 1rem;
}

