
.specificButton{
  margin-right: 1rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  background-color: var(--purple-dark)
}

.container-daily-plan{
  background-image: url("../../public/blackboard.jpeg"); 
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
  color: var(--light);
  margin: auto;
  max-width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container-planning h2 {
  margin-top: 2rem;
}

.single-day{
  margin: 0 3rem 0 3rem;
  justify-content: space-between;  
  max-width: 20vw
}

.planning-list{
  border: 1px solid var(--purple-dark);
  margin: 6rem 3rem 2rem 2.5rem;
  height: 15vh;
  overflow: scroll;
  border-radius: 1rem;

}

.plan-name{
  color: black;
}