.structure{
  border:1px solid;
  border-radius: 1rem;
  max-height: 58rem;
  margin: 2.5rem;
  position: relative;
  padding: 1rem;
}

.structure:before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-image: url("../../../public/sugar.jpeg");
  background-size: cover;
  border-radius: 1rem;;
  z-index: -1;
}

.ingredients{
  display: flex;
  flex-direction: column;
}

.scroll-ingredients{
  max-height: 30rem;
  margin: auto;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.structure input{
  width: 8rem;
}

.structure label {
  margin-right: 1rem;
}

.single-item{
  margin: auto;
}

.single-item div{
  display: flex;
  justify-content: space-between;
}

.single-item button{
  margin: 0 50% 2rem 50%;
}

.buttons-shopping{
  display: flex;  
}

.buttons-shopping button{
  margin: 0.5rem;
}

.showing-ingredients p {
  width: 7rem;
}

@media (min-width: 1025px) {
  .structure{
    height: 100vh;
  }
  .scroll-ingredients{
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    column-gap: 2rem;
    max-height: 50vh;
  }

  .fields-user{
    margin: 0;
    width: 100%;
  }

  .ingredients{
    width: 90%
  }



}
