.planning {
  margin: auto;
  height: 10%;
}

.container-planning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.single-day {
  background-color: #a2373b24;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0 1rem 1rem 1rem;
  min-width: 20rem;
  }
